// Create party form styling
.createPartySection, 
.createGuestSection {
    padding: 50px 0;

        h2 {
            padding-bottom: 25px;
        }
}

.createPartyForm,
.createGuestForm {
    display: flex;
    flex-direction: column;

    input {
        width: 55%;
        padding: 35px 10px 5px 10px;
        border-radius: 2px;
        border: 1px solid $textColor;
    }
    label {
            padding: 5px 0;
        }
}

.createPartyForm{
    background-image: url(../assets/party.jpg);
    background-position: top right;
    background-size: 40%;
    background-repeat: no-repeat;
    padding-bottom: 225px;  

}


.imageInput {
    display: flex;
    flex-direction: column;
    
        input {
            background-color: #fff;
        }

        button {
            margin: 20px 0;
        }
}


// Existing guests to add to the party
.addExistingGuests {
    text-align: center;
}

.addGuests {
    margin-top: 50px;
}

h3 {
    padding: 50px 0 10px 0;
    text-transform: uppercase;
    align-self: flex-start;
}

p.guestName {
    font-family: $secondaryFont;
    color: $textColor;
}

.guestImg {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.add, .mult {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 10px;
    width: 30px;
    height: 30px;
}

// Guests Added to the party 

// API recipes 
.intoleranceListSection button {
    margin-top: 20px;
}

.intoleranceListSection,
.dietsListSection {

    ul {
        border:1px solid $textColor;
        border-radius:15px;
        background-color: #fff;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        width:100%;
        height:100%;
        padding:2%;
    }

}

.recipeGallerySection {
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2% 0;
    width:100%;
}

.recipeGalleryUL {
    border:1px solid $textColor;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width:100%;
    height:100%;
    padding:2%;
    border-radius:15px;
    background-color: #fff;
}

.recipeLI {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    margin: 10px;
    width: 300px;
    height: auto;
    background-color: lighten($secondaryColor, 40%);
    box-shadow:0px 0px 15px rgba(152, 155, 146, 0.609);

}

.recipeLI:nth-of-type(3n+2) {
    margin:10 2% 10px 2%;

}

.recipeLink {
    color: $mainColor;
    padding: 20px 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}


.recipeImg {
    width: 200px;
    height: 200px;
}

.recipeGallery a {
    display: inline-block;
}

.imageInput{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    
}

.photoURLImage{
    width:35%;
}