.createGuestSection{
    padding: 40px 0;

    & h2 {
        margin-bottom: 3rem;
        padding-bottom: 1.5rem;
    }
}

.createGuestCenter {
    padding-left: 11rem;
}

.createGuestForm {
    display: flex;
    flex-direction: column;
    align-items: start;
        label {
            padding: 5px 0;
        }
        input.textInput {
            width: 90%;
            padding: 10px 10px 5px 10px;
            border-radius: 2px;
            border: 1px solid lighten($mainColor, 50%);
            margin-bottom: 5px;;
        }
        input.petFriendlinessInput {
            margin: 10px 0;
        }

        & .imageInput {
            margin-top: 8px;
            margin-bottom: 20px;

            & input {
                margin-left: 10px;
            }
        }
}


.dietInput {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    border: 1px solid lighten($mainColor, 50%);
    padding: 10px;

    & label {
        margin-left: 30px;
    }
}

.intolerances {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
    border: 1px solid lighten($mainColor, 50%);
    padding: 20px;

    & li {
        margin: 10px 0;
        margin-left: 50px;
    }
}

.guestInformation {
    border: 5px solid $mainColor;
    padding: 20px 50px;
    width: 90%;

    & .guestInfoCenter {
        width: 60%;
        margin: 0 auto;

        & p {
        margin-bottom: .7rem;
    }
    }

    & .guestImage {
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    & #guestImg {
        width: 300px;
    }
}

h2.secondaryH2 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    border: none;
    padding-bottom: 0;
}

h4 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

