
.petFriend {
    width: 20%;
    border: 1px solid $textColor;
    background-color: #fff;
    border-radius: 2px;
    padding: 5px 0;
    margin: 10px 0 20px 0;
    display: flex;
    padding: 10px 10px 5px 10px;

    input {
        justify-self: flex-start;
    }
}

.imageInput p {
    margin-bottom: 10px;
}

.dietHeader {
    padding-top: 50px;
}

.dietInput, 
.intolerances {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border: 1px solid $textColor;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.intolerances {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.createGuestForm button {
    margin-bottom: 50px;
}

h5 {
    padding-bottom: 20px;
}

.guestInformation {
    border: 2px solid $textColor;
    border-radius: 2px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    background-color: lighten($secondaryColor, 40%);
    box-shadow:0px 0px 15px rgba(152, 155, 146, 0.609);


    & .guestImage {
        border-radius: 50%;
        margin-bottom: 20px;
        padding: 15px;
        width: 200px;
        height: 200px;
    }

}

.guestInfoCenter {
    background-color: #fff;
    padding: 20px;
}


