// Create party form styling
.createPartySection {

    padding: 50px 0;
    background-color: lighten($accentColor, 35%);

        h2 {
            padding-bottom: 25px;
        }
}

.createPartyForm {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/party.jpg);
    background-position: top right;
    background-size: 40%;
    background-repeat: no-repeat;
    padding-bottom: 225px;
    
        label {
            padding: 5px 0;
        }

        input {
            width: 55%;
            padding: 35px 10px 5px 10px;
            border-radius: 2px;
            border: 1px solid $textColor;
            margin-right: 20px;
        }
}

.imageInput {
    display: flex;
    flex-direction: column;
    
        input {
            background-color: #fff;
        }

        button {
            margin-top: 10px;
        }
}


// Existing guests to add to the party
.addExistingGuests {
    text-align: center;
}

.addGuests {
    margin-top: 50px;
}

h3 {
    padding: 50px 0 10px 0;
    text-transform: uppercase;
}

p.guestName {
    font-family: $secondaryFont;
    color: $textColor;
}

.guestImg {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.add {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 10px;
    width: 30px;
    height: 30px;
}

// Guests Added to the party 

// API recipes 
.intoleranceListSection button {
    margin-top: 20px;
}

.intoleranceListSection,
.dietsListSection {

    ul {
        border:1px solid $textColor;
        border-radius:15px;
        background-color: #fff;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        width:100%;
        height:100%;
        padding:2%;
    }

}

.recipeGalleryUL {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
    justify-content: space-between;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: dense;

    img {
        width: 130px;
        height: 130px;
    }
}

.recipeGallery a {
    width: 60%;
    display: inline-block;
}

.imageInput{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    
}

.photoURLImage{
    width:35%;
}