html {
    font-size: 62.5%;
    font-family: $mainFont;
    color: #2E2F40;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    width: 85%;
    max-width: 1180px;
    margin: 0 auto;
}

// Font sizes 

h1 {
    font-size: 9rem;
    font-family: $secondaryFont;
    text-align: center;
    color: $mainColor;
}

nav {
    font-size: 2rem;
}

p {
    font-size: 2.5rem;
}


.viewGuestFocusSection{
    border:1px solid red;
}

.child{
    border:1px solid blue;
    background:white;
}