
// Font sizes 

html {
    font-size: 62.5%;
    font-family: $mainFont;
    color: $textColor;
}

h1 {
    font-size: 9rem;
    font-family: $secondaryFont;
    text-align: center;
    color: $mainColor;
}

h2 {
    font-size: 3rem;
}

nav, 
button, 
input, 
label,
h3,
h5  {
    font-size: 2rem;
}

h4,
a,
p {
    font-size: 1.8rem;
}

.homeIntro p {
    font-size: 2.5rem;
}

h2, 
h4,
h5 {
    text-transform: uppercase;
}

button {
    width: 200px;
    border: 1px solid $textColor;
    border-radius: 5px;
    color: #fff;
    background-color: $textColor;
    font-size: 1.8rem;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
