// Global Settings

body {
  background-color: lighten($accentColor, 35%);
}

a {
  color: inherit;
}

.wrapper {
    width: 85%;
    max-width: 1180px;
    margin: 0 auto;
}

.bleed {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

* {
  list-style: none;
  text-decoration: none;

  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-position: center;
}

span{
  color:blue;
}

nav li, button, span, input[type="checkbox"], label[for="policyCheckBox"], label[for="termsCheckBox"]{
  cursor:pointer;
}

.imageContainer{
  display:flex;
  justify-content: center;
  align-items: center;
}