nav {
    padding: 20px 0;
    background-color: $mainColor;
    height:70px;

}
nav .wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav .link{
    font-weight:700;
    text-transform: lowercase;
    color:white;
}

nav .link:hover,
nav .link:focus {
    color: lighten($accentColor, 15%);
}